## Imports

In [324]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [325]:
commune_to_canton = {
    "Beaufort": "Echternach",
    "Bech": "Echternach",
    "Beckerich": "Redange",
    "Berdorf": "Echternach",
    "Bertrange": "Luxembourg",
    "Bettembourg": "Esch",
    "Bettendorf": "Diekirch",
    "Betzdorf": "Grevenmacher",
    "Bissen": "Mersch",
    "Biwer": "Grevenmacher",
    "Boevange-sur-Attert": "Mersch",
    "Boulaide": "Wiltz",
    "Bourscheid": "Diekirch",
    "Bous": "Remich",
    "Bous-Waldbredimus": "Remich",
    "Clervaux": "Clervaux",
    "Colmar-Berg": "Mersch",
    "Consdorf": "Echternach",
    "Contern": "Luxembourg",
    "Dalheim": "Remich",
    "Diekirch": "Diekirch",
    "Differdange": "Esch",
    "Dippach": "Capellen",
    "Dudelange": "Esch",
    "Echternach": "Echternach",
    "Ell": "Redange",
    "Erpeldange": "Diekirch",
    "Erpeldange-sur-Sûre": "Diekirch",
    "Esch-sur-Alzette": "Esch",
    "Esch-sur-Sûre": "Wiltz",
    "Eschweiler": "Wiltz",
    "Ettelbruck": "Diekirch",
    "Feulen": "Diekirch",
    "Fischbach": "Mersch",
    "Flaxweiler": "Grevenmacher",
    "Frisange": "Esch",
    "Garnich": "Capellen",
    "Goesdorf": "Wiltz",
    "Grevenmacher": "Grevenmacher",
    "Grosbous": "Redange",
    "Grosbus-Wal": "Redange",
    "Habscht": "Capellen",
    "Heffingen": "Mersch",
    "Helperknapp": "Mersch",
    "Hesperange": "Luxembourg",
    "Hobscheid": "Capellen",
    "Junglinster": "Grevenmacher",
    "Käerjeng": "Capellen",
    "Kaerjeng": "Capellen",
    "Kayl": "Esch",
    "Kehlen": "Capellen",
    "Kiischpelt": "Wilz",
    "Koerich": "Capellen",
    "Kopstal": "Capellen",
    "Lac de la Haute-Sûre": "Wiltz",
    "Larochette": "Mersch",
    "Lenningen": "Remich",
    "Leudelange": "Esch",
    "Lintgen": "Mersch",
    "Lorentzweiler": "Mersch",
    "Luxembourg-Ville": "Luxembourg",
    "Mamer": "Capellen",
    "Manternach": "Grevenmacher",
    "Mersch": "Mersch",
    "Mertert": "Grevenmacher",
    "Mertzig": "Diekirch",
    "Mompach": "Echternach",
    "Mondercange": "Esch",
    "Mondorf-les-Bains": "Remich",
    "Niederanven": "Luxembourg",
    "Nommern": "Mersch",
    "Parc Hosingen": "Clervaux",
    "Petange": "Esch",
    "Preizerdaul": "Redange",
    "Putscheid": "Vianden",
    "Rambrouch": "Redange",
    "Reckange-sur-Mess": "Esch",
    "Redange": "Redange",
    "Reisdorf": "Diekirch",
    "Remich": "Remich",
    "Roeser": "Esch",
    "Rosport": "Echternach",
    "Rosport-Mompach": "Echternach",
    "Rumelange": "Esch",
    "Saeul": "Redange",
    "Sandweiler": "Luxembourg",
    "Sanem": "Esch",
    "Schengen": "Remich",
    "Schieren": "Diekirch",
    "Schifflange": "Esch",
    "Schuttrange": "Luxembourg",
    "Septfontaines": "Capellen",
    "Stadtbredimus": "Remich",
    "Steinfort": "Capellen",
    "Steinsel": "Luxembourg",
    "Strassen": "Luxembourg",
    "Tandel": "Vianden",
    "Troisvierges": "Clervaux",
    "Tuntange": "Mersch",
    "Useldange": "Redange",
    "Vallée de l'Ernz": "Diekirch",
    "Vianden": "Vianden",
    "Vichten": "Redange",
    "Wahl": "Redange",
    "Waldbillig": "Echternach",
    "Waldbredimus": "Remich",
    "Walferdange": "Luxembourg",
    "Weiler-la-Tour": "Luxembourg",
    "Weiswampach": "Clervaux",
    "Wiltz": "Wiltz",
    "Wincrange": "Clervaux",
    "Winseler": "Wiltz",
    "Wormeldange": "Grevenmacher",
}

## Dataset

In [326]:
price_df = pd.DataFrame(columns=[
    "Commune",
    "Canton",
    "Finished Houses Sold",
    "Average price per m^2",
    "m^2 price range",
    "Unfinished Houses Sold",
    "Average Unfinished Houses Price per m^2",
    "Unfinished Houses m^2 price range",
    "Year",
])

totals_df = pd.DataFrame(columns=[
    "Year", "Total Finished Houses Sold", "National Average Price per m^2 of Finished Houses",
    "National Average Range of Price per m^2 of Finished Houses", "Total Unfinished Houses Sold",
    "National Average Price per m^2 of Unfinished Houses",
    "National Average Range of Price per m^2 of Unfinished Houses"
])

for year in range(2007, 2024):
    # read data from excel
    df = pd.read_excel(f"datasets/house_prices/prix-moyen-au-metre-carre-enregistre-par-commune-{year}.xls",
                       skiprows=12)
    df = df.drop(columns=["Unnamed: 0"])
    # First row becomes the header
    df.columns = df.iloc[0]
    df.columns = [
        "Commune", "Finished Houses Sold", "Average price per m^2", "m^2 price range", "Unfinished Houses Sold",
        "Average Unfinished Houses Price per m^2", "Unfinished Houses m^2 price range"
    ]

    # Add a column with the year
    df["Year"] = year
    # Add a column with the canton
    df["Canton"] = df["Commune"].map(commune_to_canton)

    df = df.drop([0])
    # Drop rows with NaN values in the 1st column
    df = df.dropna(subset=[df.columns[0]])
    # Separate the last 3 rows from the data
    extra = df.iloc[-3:] if year < 2018 else df.iloc[-4:]
    extra = extra.iloc[:2]
    # display(extra)
    df = df.iloc[:-3] if year < 2018 else df.iloc[:-4]

    assert df["Canton"].isna().sum() == 0

    # Append the data to the main dataframe
    price_df = pd.concat([price_df, df], ignore_index=True)
    # Append the totals to the totals dataframe
    new_row = {
        "Year": year,
        "Total Finished Houses Sold": extra.iloc[1]["Finished Houses Sold"],
        "National Average Price per m^2 of Finished Houses": extra.iloc[0]["Average price per m^2"],
        "National Average Range of Price per m^2 of Finished Houses": extra.iloc[0]["m^2 price range"],
        "Total Unfinished Houses Sold": extra.iloc[1]["Unfinished Houses Sold"],
        "National Average Price per m^2 of Unfinished Houses": extra.iloc[0]["Average Unfinished Houses Price per m^2"],
        "National Average Range of Price per m^2 of Unfinished Houses":
        extra.iloc[0]["Unfinished Houses m^2 price range"],
    }
    # print(new_row)
    # display(pd.DataFrame([new_row]))
    totals_df = pd.concat([totals_df, pd.DataFrame([new_row])], ignore_index=True)

C:\Users\prbop\AppData\Local\Temp\ipykernel_63288\3056385961.py:63: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  totals_df = pd.concat([totals_df, pd.DataFrame([new_row])], ignore_index=True)

In [327]:


totals_df.to_csv("datasets/house_prices/csv/totals.csv", index=False)
price_df.to_csv("datasets/house_prices/csv/prices.csv", index=False)

,Year,Total Finished Houses Sold,National Average Price per m^2 of Finished Houses,National Average Range of Price per m^2 of Finished Houses,Total Unfinished Houses Sold,National Average Price per m^2 of Unfinished Houses,National Average Range of Price per m^2 of Unfinished Houses
0,2007,2207,3507.182,2327 € - 4731 €,1307,3945.805,2733 € - 5478 €
1,2008,2026,3578.830,2273 € - 4978 €,1254,4203.922,2982 € - 5611 €
2,2009,2182,3488.124,2301 € - 4852 €,979,4264.941,2894 € - 6203 €
3,2010,2302,3663.585,2438 € - 5142 €,1407,4480.081,3155 € - 6374 €
4,2011,2562,3858.319,2533 € - 5487 €,1621,4633.802,3232 € - 6448 €
5,2012,2400,3998.736,2543 € - 5933 €,1545,4845.979,3221 € - 6853 €
6,2013,2372,4160.000,2 624 € - 6 176 €,1497,5191.000,3 382 € - 7 502 €
7,2014,2896,4323.188,2754 € - 6487 €,1832,5283.350,3444 € - 7897 €
8,2015,2802,4470.578,2782 € - 6803 €,1740,5589.387,3683 € - 7772 €
9,2016,3069,4795.104,2952 € - 7641 €,1812,6050.853,3852 € - 8995 €
10,2017,3518,5102.931,3032 € - 8096 €,1812,6351.156,3921 € - 9691 €
11,2018,3513,5576.048,3203 € - 9210 €,1824,6331.764,3933 € - 9894 €
12,2019,3095,6057.491,3482 € - 10224 €,2107,7144.921,4455 € - 11429 €
13,2020,3059,7013.651,3936 € - 11386 €,2036,8014.137,4406 € - 12830 €
14,2021,3431.0,8104.500,4672 € - 12552 €,1325.0,8902.432,5381 € - 14916 €
15,2022,3105.0,8733.628,5338 € - 13162 €,1169.0,9346.757,5521 € - 15348 €
16,2023,2038.0,8091.000,4877 € - 12162 €,288.0,10118.580,5894 € - 14792 €